
.main-body
{
    padding: 10vh;
}

.card
{
    position: absolute;
    top: 25%;
    left: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: black;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-body
{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm
{
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-]
{
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3
{
    margin-bottom: 1rem!important;
}

.bg-gray-300
{
    background-color: black;
}
.h-100
{
    height: 100%!important;
}
.shadow-none
{
    box-shadow: none!important;
}

/* --- Rozcestník --- */

.breadcrumb
{
  padding: 10px 16px;
  list-style: none;
  background-color: black;
}

/* Display list items side by side */
.breadcrumb li
{
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before
{
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.breadcrumb li a
{
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover
{
  color: #01447e;
  text-decoration: underline;
}

/* --- Rozcestník --- */

.UserDetail
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}

.UserDetailLeft
{
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 1rem !important;
  padding-right: 5vh;
  padding-left: 8px;
}

.profil button:nth-child(1n)
{
  margin-top: 20px;
}

.card
{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card-body
{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.card-body-content
{
  text-align: center !important;
  align-items: center !important;
  flex-direction: column !important;
  display: flex !important;
  word-wrap: break-word;
  color: #1a202c;
}

.profile-image
{
  border-radius: 50% !important;
  border-style: none;
}

.card-body-info
{
  margin-top: 1rem !important;
}

.card-body-info h4
{
  font-size: 1.5rem;
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
}

.card-body-info p
{
  color: #6c757d !important;
  margin-bottom: .25rem !important;
  margin-top: 0;
}

.btn
{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: none;
  overflow: visible;
  cursor: pointer;
}

.btn-primary
{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary
{
  color: #007bff;
  border-color: #007bff;
}

/* --- Social part --- */

.SocialPart
{
  margin-top: 3em;
}

.SocialPart ul
{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  word-wrap: break-word; 
}




/* --- uživatelské informace --- */


.UserInfoSection
{
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.UserInfoSection .card
{
  margin-bottom: 1rem !important;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.cardLine, .cardLineBottom
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.cardLine h6
{
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 0 !important;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
  width: 100%;
  padding: 0px 15px;
  margin-top: 0px;
}

.cardLineData
{
  color: #6c757d !important;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding: 0px 15px;
}

.card hr
{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid rgba(0,0,0,.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.cardLineBottom button
{
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}